Functionality needed in LogQL to parse dates

I am trying to parse dates in my log lines.  LogQL cannot do this.  Promtail can only do this if the value is to be used as the timestamp. Then I can perform operations on the parsed values or use them as dates in a chart. 

Example log line:`level=INFO file="foo.zip" Action="DOWNLOAD" created="2021-03-24 22:00:27.0 UTC" started="2021-03-24 22:00:31.83 UTC" ended="2021-03-24 22:00:31.436 UTC" logType=performance`

**Describe the solution you'd like**
A template function is needed in LogQL to parse dates.

**Describe alternatives you've considered**
Extend the functionality of the timestamp stage in promtail to be able to parse a date into a label that is not the timestamp so it can be transformed into nanoseconds since epoch.



I also have the same issue.

As my dataset is huge spanning down to milliseconds isn't via promtail considered the right approach?
Imagining this would be very compute intensive
![image](https://user-images.githubusercontent.com/4432491/117760056-51aafc80-b1fb-11eb-9c2c-30b0a9dd38a6.png)
from the image above **left** being the TS the log was ingested. **Right** being the datetime inside de log line.

https://grafana.com/docs/loki/latest/clients/promtail/pipelines/

```
  - match:
      selector: '{name="promtail"}'
      stages:
      # The regex stage parses out a level, timestamp, and component. At the end
      # of the stage, the values for level, timestamp, and component are only
      # set internally for the pipeline. Future stages can use these values and
      # decide what to do with them.
      - regex:
          expression: '.*level=(?P<level>[a-zA-Z]+).*ts=(?P<timestamp>[T\d-:.Z]*).*component=(?P<component>[a-zA-Z]+)'

      # The labels stage takes the level and component entries from the previous
      # regex stage and promotes them to a label. For example, level=error may
      # be a label added by this stage.
      - labels:
          level:
          component:

      # Finally, the timestamp stage takes the timestamp extracted from the
      # regex stage and promotes it to be the new timestamp of the log entry,
      # parsing it as an RFC3339Nano-formatted value.
      - timestamp:
          format: RFC3339Nano
          source: timestamp
```

then setting the matching time format as described here
https://grafana.com/docs/loki/latest/clients/promtail/stages/timestamp/
```
ANSIC: Mon Jan _2 15:04:05 2006
UnixDate: Mon Jan _2 15:04:05 MST 2006
RubyDate: Mon Jan 02 15:04:05 -0700 2006
RFC822: 02 Jan 06 15:04 MST
RFC822Z: 02 Jan 06 15:04 -0700
RFC850: Monday, 02-Jan-06 15:04:05 MST
RFC1123: Mon, 02 Jan 2006 15:04:05 MST
RFC1123Z: Mon, 02 Jan 2006 15:04:05 -0700
RFC3339: 2006-01-02T15:04:05-07:00
RFC3339Nano: 2006-01-02T15:04:05.999999999-07:00
```